@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates";
}

html {
  scroll-behavior: smooth; /* Add this line */
}

body {
  overflow-x: hidden;
  background-image: url(./Assests/doodle/doodl2.png),
    url(./Assests/doodle/doodle1.png), url(./Assests/doodle/doodle3.png),
    url(./Assests/doodle/doodle4.png), url(./Assests/doodle/doodle6.png),
    url(./Assests/doodle/doodle7.png);
  background-position: 10% 20%, 80% 60%, 40% 90%, 30% 50%, 65% 75%, 55% 67%;
  background-repeat: no-repeat;
  background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px,
    40px 40px;
    background-attachment: fixed;
}

.main-container {
  height: 100vh;
  width: 100vw;
  
  background-image: url(./Assests/doodle/doodl2.png),
    url(./Assests/doodle/doodle1.png), 
    url(./Assests/doodle/doodle3.png),
    url(./Assests/doodle/doodle4.png), 
    url(./Assests/doodle/doodle6.png),
    url(./Assests/doodle/doodle7.png),
    url(./Assests/doodle/doodle5.png),
    url(./Assests/doodle/doodle8.png),
    url(./Assests/doodle/doodle9.png),
    url(./Assests/doodle/doodle10.png);
  background-position:15% 23%,
  82% 67%,
  91% 12%,
  8% 45%,
  65% 83%,
  23% 71%,
  78% 29%,
  12% 89%,
  87% 34%,
  5% 31%;
  background-repeat: no-repeat;
  background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px,
    40px 40px,40px 40px,40px 40px,40px 40px,40px 40px;
    background-attachment: fixed;
}

header {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Navigation-section {
  width: 100%;
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background-color: whitesmoke;
  z-index: 3;
}

.Navigation-section .logo span {
  font-size: 1.6rem;
  color: rgb(255, 0, 140);
  margin-left: 1.5rem;
}

.navigation-link {
  display: flex;
  align-items: center;
  list-style: none;
}

#cross-icon
{
  display: none;
}

#hamburger
{
  display: none;
}
.navigation-link li {
  margin-right: 3rem;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.navigation-link li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

/* Self introduction section  inside the header section*/
.Introduction {
  display: flex;
  height: 100%;
  position: relative;
  background:transparent;
}
.Intro-animation-container {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

/* Bubble Style */
.bubble {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

.Intro-container {
  width: 100%;
  flex: 1;
  background: transparent;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.Introduction .description {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h1 {
  font-size: 3rem;
  padding: 0 3rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background:transparent
}

.description p {
  font-size: 2rem;
  font-weight: 300;
  padding: 0 3rem;
  color: rgb(31, 30, 30);
}

.description a {
  color: white;
  background-color: rgb(0, 0, 0);
  width: 30%;
  text-align: center;
  margin: 0.5rem 3rem;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.Introduction .Image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.Introduction .Image img {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* skill heading */

.skillsSection {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.skillsHeading
{
  text-align: center;
  margin: 30px 0;
  text-decoration: underline double 2px black

}

/* Skills slider */
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.308), transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--itemsNumber));
  position: relative;
  height: 100%;
}

.list .items {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--itemsNumber)) * (var(--position) - 1));
}

.list .items img {
  width: 100%;
  height: 100%;
}

/* Animation  of the skill section*/

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

/*  styling of the project section */

.projectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.projectSection .projectHeading
{
  text-align: center;
  margin: 30px 0;
  text-decoration: underline double 2px black
}

.projectContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projectCard {
  width: 300px;
  border-radius: 20px;
  height:300px;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  background: rgba(113, 111, 111, 0.306);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.295), 0 2px 8px rgba(0, 0, 0, 0.295);
}

.projectCard .projectImage {
  height: 50%;
  width: 100%;
  /* background-color: red; */
}

.projectImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectCard .projectDescription {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.projectDescription h3 {
  padding: 10px 0;
}

.projectCard .projectButton {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 0.35rem;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 20px 10px;
}


/* contact section  */

.contactSection
{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(70, 67, 67); */
  padding: 10px 0;
  align-items: center;
}

.contactSection .contactHeading
{
  text-align: center;
  margin: 30px 0;
  text-decoration: underline double 2px black
}

.contactSection .contact-form-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 3px solid black;
  padding: 20px 0;
  border-radius: 20px;
}

.contact-form-container form
{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-form-container form .input
{
  width: 100%;
  outline:2px solid black;
  border: 2px black;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.contact-form-container button
{
  width: 15%;
  padding: 8px;
  border:3px black;
  border-radius: 10px;
  background-color: black;
  color: white;
}



/* styling for the mobile view */

@media (max-width:776px){
  /* for the navigation section */

  .Navigation-section {
  width: 100%;
  height: 10vh;
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
  justify-content: space-between;
}

.navigation-link
{
  position: absolute;
  width: 100%;
  display: flex;
  height: 100vh;
  top: 0;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.847);
  z-index: 3;
  left: -100%;
  transition: all 0.3s linear;
}

#hamburger
{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.navigation-link li a
{
  display: inline-block;
  margin: 20px;
  color: white;
}

#cross-icon
{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}



/* navigation needed to be styled latter */

.Navigation-section .logo span {
    font-size: 1rem;
    color: rgb(255, 0, 140);
    margin-left: 1.5rem;
}

/* styling for the hero section */

.Intro-animation-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 1;
    display: none;
    overflow: hidden;
    pointer-events: none;
}

.Introduction .Image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.Introduction .description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.description p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 3rem;
    color: rgb(31, 30, 30);
}

.description a {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 40%;
    text-align: center;
    margin: 0.5rem 3rem;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}
/* styling for the contact section */
.contactSection .contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 3px solid black;
    padding: 20px 0;
    border-radius: 20px;
}

.contact-form-container button {
    width: 20%;
    padding: 8px;
    border: 3px black;
    border-radius: 10px;
    background-color: black;
    color: white;
}

/* styling of the card */
.projectCard {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background: rgb(113 111 111);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.295), 0 2px 8px rgba(0, 0, 0, 0.295);
}
}